<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>Welcome to dealership-portal!</h1>
    <strong>Link to a remote micro-frontend?</strong>
    <p>
      <a routerLink="/mfe"
        >Let's go!!</a
      >
    </p>
  </div>
</ion-content>
